# Ignore node_modules directory
node_modules/

# Ignore .env file containing environment variables and any .env.* files containing environment variables for different environments
.env*

# Ignore package-lock.json file
package-lock.json


# Ignore build output
build/
